[2019-01-08 14:38] tzach opened #1 "Generate a downloadable driver with the latest updates"
Similar to
https://github.com/datastax/java-driver/releases

[2019-03-04 13:22] tzach opened #8 "Add a Scylla fork to Maven"

[2019-03-19 11:40] slivne opened #9 "Optimize connection setup for shard aware driver"
A clients that is using the shard-aware driver can better optimize the connection setup

Current algorithm is to iterate over the number of shards and connect to each. If the connection is setup to the non requested shard we drop the connection.

This can be optimized so on setup:
-  we create new connections
-  created connection check to which shard it ends up
    - if that shard does not have a

[2019-03-19 11:41] slivne commented on #9
@haaawk can you please comment on this

[2019-03-19 11:52] haaawk commented on #9
Proposed optimization is the way driver works. I think this issue is wrongly assuming driver algorithm is inefficient.

[2019-03-19 12:11] slivne commented on #9
Hm ... my bad - closing issue

[2019-03-19 12:11] #9 closed, assigned to nobody

[2019-05-29 08:59] lauranovich opened #10 "ReadME has issues"
Hi,
The readme file is outdated and while we're updating it, the following also needs to be addressed.
1. the content looks like datastax verbatim. customers who are looking for "shard-aware" won't see any reference here
2. the title suggests we copied / pasted without changing anything. it should reflect Scylla and not datastax.
3. There is no API documentation
4. Once ready we should link to the

[2019-07-01 09:21] guy9 commented on #1
@haaawk I'm adding lessons to the University that use the Java driver. I'd like it to be our driver and not the Datastax one. Can you help with this issue?

[2019-07-01 18:11] KMax commented on #1
@guy9 I can recommend a workaround which I'm going to use too. Use a repository generated by JitPack, see https://jitpack.io/#scylladb/java-driver/3.7.1-scylla-SNAPSHOT. It will use the latest code from `3.7.1-scylla` branch.

Maven:
[code]

[code]

[2019-07-01 18:27] KMax commented on #1
Oh, I'm sorry this approach doesn't work actually. Because the group and artifact names aren't aligned with the name of the Github repository.

Maven:
[code]

[2019-07-02 08:55] tzach opened #11 "Client-Side Column-Level Encryption"
Make it easier for a user to encrypt part of a row, for example, a password, using an external key.
For example
Mongo 4.2 Client-Side Field-Level Encryption

[2019-07-08 12:36] tzach commented on #10
@haaawk

[2019-08-06 09:48] avnerbarr commented on #8
Any word on this?

[2019-08-09 17:19] haaawk commented on #8
Our java driver has been published to Maven Central repository.
It can be accessed here: https://repo1.maven.org/maven2/com/scylladb/

Anyone can also use it by adding the following dependency to their pom.xml:

[code]

or using a similar method for Ant, Gradle or SBT.

[2019-08-09 17:19] #8 closed, assigned to haaawk

[2019-08-09 17:20] haaawk commented on #1
@guy9 sorry for a late reply.

Our java driver has been published to Maven Central repository.
It can be accessed here: https://repo1.maven.org/maven2/com/scylladb/

Anyone can also use it by adding the following dependency to their pom.xml:
[code]

or using a similar method for Ant, Gradle or SBT.

[2019-08-09 17:20] #1 closed, assigned to nobody

[2019-08-10 19:06] tzach commented on #10
@haaawk
Worthwhile adding the new Maven install (good work!)
https://github.com/scylladb/java-driver/issues/8

[2019-08-11 10:34] avnerbarr commented on #8
is this release compatible with datastax 3.3 shaded?

[2019-08-11 12:50] haaawk commented on #8
It's based on 3.7.1 release of Datastax driver.

On Sun, Aug 11, 2019, 12:34 PM Avner <notifications@github.com> wrote:

[2019-08-12 13:30] avnerbarr commented on #8
@haaawk @tzach  @slivne

Tested with Shlomi in one component and seems to behave well.

Next components will be a problem I suspect since they are relying on the shaded driver (conflict with Guava)

It would be great to publish the shaded version as well

[2019-08-12 13:33] haaawk commented on #8
Shaded is there as well https://repo1.maven.org/maven2/com/scylladb/scylla-driver-core/3.7.1-scylla-0/scylla-driver-core-3.7.1-scylla-0-shaded.jar

[2019-08-12 13:42] avnerbarr commented on #8
ah
great. I'll try that out.

[2019-08-12 13:42] haaawk commented on #8
Try adding

` <classifier>shaded</classifier>`

[2019-08-12 13:45] haaawk commented on #8
You may also need
[code]

But I'm not sure.

[2019-08-14 15:58] slivne opened #13 "PoolingOptions - should they be adhered when the server support Scylla Shard Extenstions"
When a client connect to a server supporting the Scylla Protocol Extension for [Intranode Sharding](https://github.com/scylladb/scylla/blob/master/docs/protocol-extensions.md#intranode-sharding) the driver will open connections to each shard

A client can also setup [PoolingOptions](https://github.com/scylladb/java-driver/blob/3.x/driver-core/src/main/java/com/datastax/driver/core/PoolingOptions.j

[2019-08-18 22:21] slivne opened #14 "Host Sharding information is initialized per host on initial control connection setup - not allowing to change availability information from server end"
Host Sharding Info is set on first connection setup when the first SUPPORTED response is received

https://github.com/scylladb/java-driver/blob/3.7.1-scylla/driver-core/src/main/java/com/datastax/driver/core/Connection.java#L404

Following that the HostConnectionPool will assume that sharding for the host was set and thus should be used.

This does not allow to change sharding information availabi

[2019-08-21 07:07] #14 closed, assigned to haaawk

[2019-08-23 08:55] haaawk commented on #13
The interaction is as follows:
1. Pooling options set core connections per host and max connections per host
2. If shard awareness is enabled then each shard gets coreConnectionsSize / shardsCount + (coreConnectionsSize % shardsCount > 0 ? 1 : 0) connections but we still try to respect max connections per host by not adding new connections when sum of shard's connections exceeds max connections pe

[2019-08-28 14:49] avnerbarr commented on #14
@slivne is this deployed to maven? please provide information so that we can go ahead and deploy

[2019-08-28 14:52] haaawk commented on #14
@avnerbarr yes - it's on maven. Artifact version 3.7.1-scylla-1.

[2019-12-18 19:51] asantoz opened #18 "Dao operations - Fork rebase"
Hi mates!

Any idea when we'll have a rebase with Datastax fork 4.x to support the latest features like mappers with DAO?

Thanks 🙏

[2020-01-27 16:07] tarzanek opened #20 "Spring + shard aware driver 3.7.1 fails to set CL"
Spring + cassandra driver 3.4 works properly on setting CL (e.g. LOCAL_QUORUM)
when one switches to Spring + cassandra 3.7.1 the CL won't be honored and always fallbacks to LOCAL_ONE

[2020-01-27 17:09] tarzanek commented on #20
ok, hold on, it seems this might be boiling down to something else :-(

[2020-01-28 15:12] tarzanek commented on #20
OK, so the problem only happens if this construct in spring is used:
[code]

However if you set the consistency level when doing the query (before preparing it) it started working
(so it looks like the template wasn't taken into account when using prepared statements).

[2020-01-28 15:17] tarzanek commented on #20
[code]
was the confusing error, which was caused by (thinking that) writing happens with EACH_QUORUM, but the writes happened with LOCAL_ONE
so the above then assuming reads happen with LOCAL_QUORUM, but they only happened with LOCAL_ONE
so having RF 3 it was
1(RCL) + 1(WCL) < 3 so consistency failed with above error
(to be consistent you need to be greater than RF, so R CL + W CL > RF - if this i

[2020-02-06 10:25] gleb-cloudius opened #22 "Shard awarness does not work with batch statements"
In case of token awareness the driver uses first statement in a batch do decide. Shard awareness should do the same.

[2020-02-06 11:08] gleb-cloudius commented on #22
It may be lwt related. To reproduce run upstream cassandra-stress with our driver like that:

` cassandra-stress user profile=cqlstress-lwt-example.yaml n=10000000 ops'(insert=1)' cl=QUORUM -mode native cql3 protocolVersion=3 -rate threads=200`

`cqlstress-lwt-example.yaml` is in Cassandra sources

[2020-02-10 11:01] tarzanek opened #23 "SELECT_LOCAL frequency"
A client using the driver seems to do too frequents queries with SELECT_LOCAL
(we see 600 OPS coming every second)

https://github.com/scylladb/java-driver/blob/9ab00c44621727531e639e03f43cf57783e5c1a4/driver-core/src/main/java/com/datastax/driver/core/ControlConnection.java#L73

so the big Q is how many times should this query be seen, if we want to cache it for some time, etc. to avoid constant

[2020-02-10 15:08] tarzanek commented on #23
So was there some round robin approach to make the scylla recieve above query on different shards/nodes? @haaawk any chance you remember such patch?

[2020-02-10 15:37] haaawk commented on #23
There was no round robin improvement. The fix was to add WHERE key='local' so that the query is handled on a single node (single key query) and does not do full cluster scan.

[2020-02-10 18:39] tarzanek commented on #23
the client is Spring 2.0.0 + our shard aware driver 3.7.1 build 2 (versus original 3.4 of cassandra)
note that I tried Spring 2.2.4 (which integrates 3.7.1 cassandra) with our shard aware driver and haven't seen such behaviour

[2020-02-12 11:50] gleb-cloudius commented on #22
Looks like `protocolVersion=3` was the problem. Without it shard awarness works for batches as well. Is this expected?

[2020-02-17 08:50] slivne commented on #23
`system.local` is a local table existing on every node,

this is probably their mechanism to check that they can send queries.

I don't understand what the the problem ?

If they do `select * from system.local` - this will do a full scan on a local node (all shards on one node)

if they do `select * from system.local where key=local` this will be a single partition query on the local node.

Please

[2020-04-20 18:52] kostja opened #24 "Prefer primary replica for the token for LWT queries"
The way Paxos protocol works is that if two queries attempt to update the same key from different coordinators, they will start two independent Paxos rounds. Each round will be assigned a timestamp, and the coordinator who has the highest timestamp will win.
The issue is, the loser only queues up after the winner (using a semaphore) if both rounds are coordinated by the same node. If rounds are st

[2020-04-27 13:49] gcarmin opened #25 "cassandra-stress does not write "Using optimized driver" to the log file"
rpm -qf /usr/bin/cassandra-stress
scylla-tools-4.0.rc2-20200421.5d2a5e2e169.noarch
When running:
cassandra-stress write no-warmup n=100000000 cl=quorum -pop seq=1..100000000 -schema "replication(factor=3)" "keyspace=keyspace2" -mode native cql3 -node 1.1.1.1,1.1.1.2 -rate threads=200 -log file=cs_date +%T-%-F.log
CS does not indicate that it is using a shared aware driver in the log file, only to

[2020-05-14 11:17] kostja commented on #24
Cassandra issue: https://issues.apache.org/jira/browse/CASSANDRA-15746

[2020-05-14 16:08] haaawk commented on #25
Fixed. Will be released with 3.9.0-scylla-0

[2020-05-14 16:08] #25 closed, assigned to nobody

[2020-05-14 16:10] haaawk commented on #23
@tarzanek Could you please say what was the problem? Surely not those 600 single partition queries to local table?

[2020-05-14 16:14] haaawk commented on #13
@slivne ping. Would you like me to do anything with this or can we close the issue?

[2020-05-14 17:32] tarzanek commented on #23
we are not sure, fwiw these ghost queries were gone upon clients hosted k8s were restarted, so it looks like leftover clients, I think this bug can be closed

[2020-05-14 17:33] #23 closed, assigned to nobody

[2020-06-04 09:13] haaawk opened #26 "Implement support for CDC partitioner"
CDC Log uses custom partitioner so if we want to use TokenAwareLoadBalancingPolicy we have to make the driver aware of the CDC partitioner.

[2020-06-17 20:18] felipegasparini opened #27 "Change repository default branch to a proper "Scylla" version"
Currently the default branch in this Github repository is set to https://github.com/scylladb/java-driver/tree/3.x . This version has no customizations from Scylla and the README and remaining documentation only has references to the Datastax driver.

![image](https://user-images.githubusercontent.com/2293568/84945670-d5419380-b0e7-11ea-9c3c-a19c832a0296.png)
The image above shows that the default

[2020-06-18 04:23] haaawk commented on #27
The instruction how to change default branch can be found here:
https://help.github.com/en/github/administering-a-repository/setting-the-default-branch

@avikivity I don't see the "Settings" tab in this repository. Could it be that I don't have the necessary permissions?

[2020-06-18 08:49] avikivity commented on #27
@haaawk I increased your permissions level, please check again.

[2020-06-18 14:09] haaawk commented on #27
@avikivity nope. Now I see "Settings" tab but it has only "Moderation" and "Interaction limits" sections. No "Branches" section.

![image](https://user-images.githubusercontent.com/1311149/85030721-16848280-b17e-11ea-883d-385ae1722fde.png)

[2020-06-24 08:49] haaawk commented on #27
Fixed.

[2020-06-24 08:49] #27 closed, assigned to haaawk

[2020-08-03 07:57] dgarcia360 opened #28 "Change default branch"
I am automating the docs generation to match the main docs style with Sphinx and GitHub Actions. To be able to enable multi version support, I'd need this repository to have a default development branch named "master" or "latest" as the default one instead of a branch pointing to a specific version (3.7.1-scylla).  Thank you very much!

cc/ @tzach @lauranovich

![image](https://user-images.githubu

[2020-08-03 08:03] haaawk commented on #28
master is impossible. We can think about "latest".

[2020-08-04 09:46] haaawk commented on #28
Done. "latest" is now the default branch.

[2020-08-04 09:46] #28 closed, assigned to haaawk

[2020-08-04 10:10] dgarcia360 commented on #28
Thanks!

[2020-08-19 14:49] haaawk commented on #18
@asantoz 4.8 based Scylla driver has been published to the maven repository. Enjoy!

[2020-08-19 14:49] #18 closed, assigned to nobody

[2020-08-26 14:20] sitano opened #32 "Driver shall not call System.out.println for logging"
https://github.com/scylladb/java-driver/blame/4.8.0-scylla/core/src/main/java/com/datastax/oss/driver/api/core/session/SessionBuilder.java#L660

Driver shall not call System.out.println for logging:

[code]

introduced by https://github.com/scylladb/java-driver/commit/f621035784b955d62ce423a64164a35f14e5a1d2.

Reasoning
===

`System.out.println` is not a logger and can't be configured by the libra

[2020-08-26 14:21] haaawk commented on #32
Won't fix.

[2020-08-26 18:13] dyasny commented on #10
Also, all the links lead to datastax (and some are broken)

[2020-08-26 18:20] kharmabum opened #33 "Question - What is the latest release?"
Quick question.

My company currently utilizes the 4.2.0 version of the Datastax driver. We'd like to test the scylla driver and adopt if we notice benefits due to shard awareness. I'm a bit confused as to which release to try. There is [3.7.2-scylla-2](https://github.com/scylladb/java-driver/releases/tag/3.7.1-scylla-2) (marked as "latest" by github); however there is also a 3.10.1-scylla-0 and 4

[2020-08-26 18:23] haaawk commented on #33
3.10.1-scylla-0 and 4.8.0-scylla-0 are the ones to be used. I will switch latest to 3.10.1-scylla-0. Sorry for the confusion.

[2020-08-26 18:23] haaawk commented on #33
3.10.1-scylla-0 and 4.8.0-scylla-0 are the ones to be used. I will switch
latest to 3.10.1-scylla-0. Sorry for the confusion.

On Wed, Aug 26, 2020 at 8:20 PM Juan-Carlos Foust <notifications@github.com>
wrote:

[2020-08-26 19:45] kharmabum commented on #33
@haaawk based on https://search.maven.org/search?q=com.scylladb `3.10.1-scylla-0` is the latest available for `scylla-driver-core` can you explain what `4.8.0-scylla-0` can/should be used for?

[2020-08-26 19:51] haaawk commented on #33
Scylla driver is based on Cassandra's driver. Cassandra's driver has two incompatible lines: 3.x and 4.x
Scylla follows them. That's why there is 3.10.1-scylla for 3.x line and 4.8.0-scylla for 4.x line.

4.x is newer and better. For new projects, it's recommended to use it instead of 3.x

[2020-08-26 20:00] kharmabum commented on #33
@haaawk thanks - very helpful.

[2020-08-26 20:00] #33 closed, assigned to nobody

[2020-09-08 14:24] aleksbykov opened #34 "Error in `/bin/java': corrupted double-linked list: 0x00007fd040187870"
During job https://jenkins.scylladb.com/view/scylla-4.2/job/scylla-4.2/job/longevity/job/longevity-50gb-4days-test/13
after 2 hours of running one of cassandra stress command terminated with next error:
[code]

Cassandra-stress command was running on aws instances  based on ami-03389f1ec374f22d3(eu-north-1) with instance type: c5.2xlarge

Maybe it is related to issue with XFS:
[code]

all loader l

[2020-09-08 16:03] avikivity commented on #34
It looks like that node had memory corruption.

What kernel was running?

If it doesn't reproduce, I recommend closing as a fluke.

[2020-09-16 04:55] aleksbykov commented on #34
Didn't meet it any more for that moment

[2020-09-16 08:46] avikivity commented on #34
Closing as a fluke. Make sure your jdk is fully updated.

[2020-09-16 08:46] #34 closed, assigned to nobody

[2020-11-16 11:14] haaawk opened #48 "Implement support for ALTER SESSION"
More details -> https://github.com/scylladb/scylla/pull/7617

[2020-11-18 13:21] tzach opened #51 "Add doc link to the project About"
![image](https://user-images.githubusercontent.com/170200/99535525-b2c2e780-29b1-11eb-8c5e-331b6362bc8d.png)

[2020-11-18 13:23] tzach opened #52 "docs: Document Scylla CQL extensions"
https://github.com/scylladb/scylla/blob/master/docs/protocol-extensions.md

[2020-11-24 08:37] lauranovich opened #55 "Docs: Confirm Cassandra and Java Versions"
I would like to report an issue in page http://docs.scylladb.com/index

### Problem
Following the email I sent
We need to review the front page readme.md and confirm all versions mentioned and add those we support which are not mentioned.
###  Suggest a fix

[2020-11-25 15:20] haaawk commented on #55
What is a front page readme.md?
What's exactly wrong on http://docs.scylladb.com/index?

[2020-11-25 16:46] lauranovich commented on #55
Hi Sorry for the confusion I should have given you a link
https://scylladb.github.io/java-driver/latest/index.html or https://github.com/scylladb/java-driver/blob/latest/README.md needs to be reviewed.

[2020-12-02 15:37] kbr- commented on #13
Documentation should be updated (https://github.com/scylladb/java-driver/tree/latest/manual/pooling#configuring-the-connection-pool), we can't tell users to read the driver's code

[2020-12-06 11:39] lauranovich commented on #55
I think we can close?
Is this fixed?
@haaawk ?

[2021-01-04 13:09] tarzanek opened #58 "backport support of scylla shard awarenes to 4.7.2"
spark 2.5.1 connector is built on 4.7.2 ( https://github.com/datastax/spark-cassandra-connector/blob/v2.5.1/project/Versions.scala#L8 )
so it would make sense to have driver for 4.7.2 too (I'd expect 4.8 backport will just work)

Can you please backport and release a -scylla version of 4.7.2 ?

[2021-01-04 14:12] tarzanek commented on #58
while at this, can I get also 3.7.2 ? pretty please? :-)

[2021-01-20 05:33] fggarcia opened #62 "Unexpected ERROR response message from server to a OPTIONS message"
After upgrade to scylla-java-driver 3.10.2-scylla-0 (from 3.10.1-scylla-0)

Java version: java11
Scylla version: 4.3.0

[code]

Rollback to version 3.10.1-scylla-0 resolve issue.

How i can help you?

[2021-01-20 14:45] avelanarius commented on #62
@fggarcia Could you provide more details on the connection?
 - What type of authentication/authorization are you using? (if any)
 - How do you specify contact points? (by "raw" IP adresses, by hostnames?)
 - Are the Java Driver client and Scylla cluster in the same network? (for example if it was running on AWS, whether they are in the same VPC, subnet)

[2021-01-20 15:14] fggarcia commented on #62
Hi @avelanarius

[code]
scylla.yaml
authenticator: PasswordAuthenticator
authorizer: CassandraAuthorizer

app
val authProvider = new PlainTextAuthProvider(config.user, config.pass)

  val keyspaceBuilder = ContactPoints(config.seeds, config.port)
    .withClusterBuilder(clusterBuilder =>
      clusterBuilder
        .withClusterName(config.cluster)
        .withCompression(ProtocolOptions.Compress

[2021-01-20 15:29] pveentjer commented on #32
Professional Java libraries should not use System.out. There is a logger here already, that should be sufficient.

The user can configure how the data is written to file. With a system.out, the user has no control and therefor considered a bad practice.

[2021-01-20 16:10] avelanarius commented on #62
Thank you for the details. I am now able to reproduce the issue.

It turned out that turning compression (LZ4) caused problems in the newer version of the library. I have located the root cause, so the fix will come relatively soon.

For now I suggest rolling back to `3.10.1-scylla-0` (as you already did). A new version of the library with the fix should come within a week.

[2021-01-20 16:14] fggarcia commented on #62
Thanks @avelanarius

Only one more comment. When i tried in local environment with docker-compose (one scylla instance), the issue didn't occurred, only when i deployed in beta environment (3 scylla instances)

[2021-01-20 22:12] haaawk commented on #32
This is not backward compatible change (some users may rely on this message being printed) and the log is once per application run so it's harmless.

[2021-01-20 22:12] #32 closed, assigned to nobody

[2021-01-21 03:49] pveentjer commented on #32
Systems.out is not an accepted practice for professional Java libraries.

[2021-01-21 04:47] haaawk commented on #32
I agree it was a mistake to use it but removing it just like that may cause someone to lose hours of investigation why their shard aware driver stopped working.

[2021-01-21 05:13] haaawk commented on #32
What I can do is to guard this print with configuration flag that is on by default and allow user to disable the flag if the print is a problem but we didn't have a single user complaining so it's probably a theoretical problem.

[2021-01-21 07:58] pveentjer commented on #32
A user will probably not make a ticket. But if you get a new phone and the pages of the user guide are completely stained, you will probably not return the phone. But it will leave you with a bad taste in your mouth.

And writing to System.out can lead to all kinds of weird behavior when there are multiple applications running e.g. application server. Normally you can guide the logging, but you en

[2021-01-22 15:16] fggarcia commented on #62
Hi @avelanarius thanks you!

last release resolve the issue. Close this.

[2021-01-22 15:16] #62 closed, assigned to nobody

[2021-01-31 12:01] amihayday opened #64 "Unexpected error when using .withLocalDatacenter("DC_1") while having single DC"
failing with Error specifying there is a use of a different DC while running on a single DC.

Driver version 4.x

receiving the following error:
[6:20 PM] OptionalLocalDcHelper [xxxxxx] [xx|default] You specified DC_1 as the local DC, but some contact points are from a different DC: Node(endPoint=x.x.x.x:9042, hostId=null, hashCode=xxxxxx)=null, Node(endPoint=x.x.x.x:9042, hostId=null, hashCode=xx

[2021-01-31 12:46] tarzanek commented on #64
4.9 was supposed to have it fixed:
https://datastax-oss.atlassian.net/browse/JAVA-2835

so this should be retested and rechecked and ev. fixed again

[2021-01-31 12:48] tarzanek commented on #64
it might be an incompatibility between new 4.x drivers (and how they approach configs using profiles)
and old 3.x drivers  and scylla,  FYI @haaawk

[2021-02-01 03:19] haaawk commented on #64
Thanks Lubos. Could you please comment on the github issue? Thanks.

On Sun, Jan 31, 2021 at 1:48 PM Lubos Kosco <notifications@github.com>
wrote:

[2021-02-02 12:59] tarzanek commented on #64
I am debugging this now
@haaawk it seems it is connected with fact that AWS uses external IPs for cqlsh and internal IPs for internal communication

when we connect to the same cluster but change endpoints to internal ones it works

during debug I see not initialized datacenter for the check in
https://github.com/scylladb/java-driver/blob/4.9.0-scylla/core/src/main/java/com/datastax/oss/driver/int

[2021-02-02 13:02] tarzanek commented on #64
fwiw I can replicate the same behaviour with datastax 4.x so this looks like some incompatibility in metadata coming from scylla ?

[2021-02-03 13:54] tzach opened #65 "Docs: how to use shard awareness?"
Copy from @sitano
https://github.com/scylladb/scylla-docs/issues/3325

The documentation must explicitly answer the following questions:

How to enable shard awareness
How shard awareness is connected to the TokenAwarePolicy
Is it required to specify (2) policy explicitly during Connect call
What will happen if you would not specify (2) explicitly to Connect call
If nothing is required to enable s

[2021-02-03 14:15] tarzanek commented on #64
right now it looks like we might have a fix for this in scylla metadata by setting https://github.com/scylladb/scylla/blob/master/db/config.cc#L436

listen_address: *privateIP*
broadcast_address: *privateIP*

but it should be per above *publicIP*  (or 0.0.0.0 to allow both interface access ? user wants to use both ifaces to connect, so I'd go with 0.0.0.0)

will verify

[2021-02-03 14:22] tarzanek commented on #64
or address translations need to be set up ... https://docs.datastax.com/en/developer/java-driver/4.10/manual/core/address_resolution/

[2021-02-03 15:23] tarzanek commented on #64
ok, it works with address translation, however I only now figure out this is by design
the cluster is created privately, so it shouldn't be accessed from outside, hence this bug doesn't apply and code in driver is behaving OK, closing

[2021-02-03 15:23] #64 closed, assigned to nobody

[2021-02-04 08:04] lauranovich opened #66 "DOCs: Add CDC links"
add link to / docs

Using CDC with Java
----------------------------

When writing applications, you can now use our  `Java Library <https://github.com/scylladb/scylla-cdc-java>`_ to simplify writing applications that will read from Scylla CDC.

[2021-02-08 11:42] haaawk opened #67 "Make sure docs work for each version/release of the driver"

[2021-02-08 11:46] haaawk commented on #67
@lauranovich please comment on how we can enable sphinx for each branch/tag/release. Thanks.

[2021-02-11 19:55] tzach opened #69 "Docs: enforce https"
The doc site already support https:
https://java-driver.docs.scylladb.com/latest/

But also work for http:
http://java-driver.docs.scylladb.com/latest/

There is a github option to enforce https
https://docs.github.com/en/github/working-with-github-pages/securing-your-github-pages-site-with-https

[2021-02-22 19:29] tzach commented on #55
1. We need to clarify what versions are supported, and how they correlate with upstream  release
2. Need to add some wording on our backporting from upstream strategy

Something in the line of:
Scylla Java driver will closely track upstream updates, while adding Scylla unique features and optimizations.

[2021-02-22 19:31] tzach opened #72 "Docs: support multi versions"

[2021-02-22 19:33] tzach commented on #72
@dgarcia360  can you please help?

[2021-02-25 15:10] dgarcia360 commented on #72
Working on it, duplicated of https://github.com/scylladb/java-driver/issues/67

[2021-02-25 15:54] dgarcia360 commented on #67
The tagged versions do not have the documentation generation system, which defines how docs should be built. To generate docs for these versions, we should add the ``docs`` folder from the latest branch to every affected branch. To make the process smoother, I've removed all the custom changes applied to the documentation pages in https://github.com/scylladb/java-driver/pull/74.

Then, we will be

[2021-03-10 07:47] tzach commented on #72
Closing duplicate.

[2021-03-10 07:47] #72 closed, assigned to nobody

[2021-03-10 07:48] tzach commented on #67
@haaawk @dgarcia360 how can we move forward with this?

[2021-03-10 07:48] tzach commented on #69
@haaawk can you add a doc tag?

[2021-03-10 08:01] haaawk commented on #67
We are moving forward @tzach. I've rearranged 3.x branches to make them suitable for support of multiple documentation versions and @dgarcia360 is working on getting those versions up and running.

[2021-03-10 08:03] haaawk commented on #69
@tzach I added the label. Is that what you meant?

[2021-03-10 08:48] tzach commented on #69
Yes, thanks (now we need to fix the issues ;)

[2021-03-10 10:53] haaawk commented on #69
Done. The settings has been changed.

[2021-03-10 10:53] #69 closed, assigned to nobody

[2021-03-10 16:24] #67 closed, assigned to nobody

[2021-03-11 19:20] tzach opened #76 "DOCS: Remove version number from the left menu"
The list of version under change log on the left menu is confusing, make it look like doc versions
![image](https://user-images.githubusercontent.com/170200/110842109-5e6cac00-82af-11eb-8c3b-6fe0cb225d64.png)

I sugget to reduce the level of section headers in the changlog to remove it.

[2021-03-14 07:55] slivne opened #77 "Issue in page Prepared statements"
I would like to report an issue in page https://java-driver.docs.scylladb.com/scylla-3.10.2.x/manual/statements/prepared/index

### Problem
The link at the top is broken

https://java-driver.docs.scylladb.com/latest/api/com/datastax/driver/core/PreparedStatement.html

https://java-driver.docs.scylladb.com/latest/manual/statements/prepared/

I think there is an issue with not including version
###

[2021-03-14 09:53] haaawk commented on #77
This must be a problem with docs generation. The links in the repository are correct: https://github.com/scylladb/java-driver/blob/scylla-3.10.2.x/manual/statements/prepared/README.md

[2021-03-17 09:26] tarzanek commented on #20
closing, since upstream Spring has upgraded templates now

[2021-03-17 09:26] #20 closed, assigned to nobody

[2021-03-17 20:51] PeterCorless opened #78 "Issue in page Scylla Java Driver for Scylla and Apache Cassandra® - Non-Link. Make how-to-download more prominent"
I would like to report an issue in page https://java-driver.docs.scylladb.com/scylla-3.10.2.x/index

### Problem

###  Suggest a fix

Please provide a more prominent link to the Github repository for people interested in downloading the driver. Also make sure the URL is a working hyperlink.

[2021-03-17 20:54] PeterCorless commented on #78
Also, the document states that the driver is available on Maven Central, but doesn't provide any URL to get to it or even instructions for how to search for it. I found it via searching for "ScyllaDB Java Driver" using URL:

https://search.maven.org/search?q=ScyllaDB%20Java%20driver

Is that the right way to get to it, or is there a canonical link we want people to refer to?

Edit: There's a list

[2021-04-09 12:12] maeb commented on #78
Thanks @PeterCorless for pointing out where to find the driver!

The documentation in https://java-driver.docs.scylladb.com/stable/#getting-the-driver say:
[code]
but what works right now is:
[code]
Similarly the `artifactId` is wrong in the other examples regarding `driver-mapping` and `driver-extras`.

[2021-04-09 12:17] maeb commented on #78
My previous comment was not entirely correct but https://search.maven.org/search?q=g:com.scylladb tells the whole story.

The versioning for version 3 in the example seems wrong: `3.10.2.0` seems to be `3.10.2-scylla-0`.

Also `artifactId` seems to have changed prefix from `scylla-` to `java-` between version 3 and 4.

[2021-04-13 11:25] avelanarius opened #79 "README: invalid latest release number"
In README on default branch (scylla-3.x), there are multiple mentions of `3.10.2.0` version ("If you're reading this on github.com" paragraph, Maven dependency in "Getting the driver", "Compatiblity" section).

There is no `3.10.2.0` tag in repo and no `3.10.2.0` package in Maven (in this instance it should be `3.10.2-scylla-1`).

[2021-04-14 09:51] haaawk commented on #79
Version is good. We just haven't released the right artefacts yet.

[2021-04-20 23:37] PeterCorless opened #80 "Shard-aware port (9042) implemented?"
Going over our driver coverage for a blog I am editing, I am looking for what issue to track for the Scylla-specific shard-aware port (9042) being implemented for our Java driver. If this is a duplicate, please point me to the right issue and close this, but a quick search for "shard-aware port" or "9042" did not reveal an issue # to me.

[2021-04-21 03:29] haaawk commented on #80
I'm not aware of such issue. @PeterCorless please update the description of this issue to define what this task is about. It's missing the description of what port based shardawarness is.

[2021-05-03 20:06] Laurent56 opened #81 "Maven info for ScyllaDB driver fails"
I am developing on a MacBook Pro, using:
Eclipse IDE for Enterprise Java and Web Developers (includes Incubating components)
Version: 2021-03 (4.19.0)
Build id: 20210312-0638

When I used the Cassandra driver info, Maven works fine:
<dependency>
	<groupId>com.datastax.cassandra</groupId>
	<artifactId>cassandra-driver-core</artifactId>
	<version>3.0.1</version>
  </dependency>

However, when I try

[2021-05-03 20:14] fggarcia commented on #81
@Laurent56

https://mvnrepository.com/artifact/com.scylladb/scylla-driver-core

Actual version:
[code]

[2021-05-03 20:18] Laurent56 commented on #81
@fggarcia the ScyllaDB docs here: https://java-driver.docs.scylladb.com/stable/ should be updated then. Correct?

[2021-05-03 20:18] #81 closed, assigned to nobody

[2021-05-03 20:21] fggarcia commented on #81
@Laurent56 i'm not a scylla developer :P

@haaawk

[2021-06-04 12:25] tarzanek commented on #58
thnx for https://search.maven.org/artifact/com.scylladb/java-driver-bom/4.7.2.0/pom

will 3.7.2 be released too?

[2021-06-17 12:36] dkropachev opened #82 "c-s equiped with shard-aware dirver can fail with AssertionError that comes from closeAsync"
When test is completed c-s closes connection to the cluster.
due to the bug in driver it can fail there with assertException:

[code]

[2021-06-17 13:10] haaawk commented on #82
Do you have reproducer @dkropachev ? Is the error thrown on every cluster.close()?

[2021-06-17 13:11] haaawk commented on #82
Also what version of the driver is this?

[2021-06-18 14:09] dkropachev commented on #82
Have no way to reproduce it.
This error is thrown once after which c-s goes to panic

No reliable information on that, test run where it happened is lost, but most likely it was scylla-driver-core-3.10.1-scylla-0-shaded

[2021-06-25 18:16] dkropachev opened #85 "java.lang.NullPointerException: Cannot read the array length because "<local2>" is null"
Faced this issue once while playing with nosqlbench:

[code]

[2021-06-25 18:29] dkropachev commented on #85
Problem goes from src/main/java/com/datastax/driver/core/HostConnectionPool.java:

We have 5 attributes that needs to be initialized before being used:
[code]

But we initialize them only at HostConnectionPool.initAsyncWithConnection , which may not happen due to the exception escaping at HostConnectionPool.initAsync:
[code]

So basically when initial connection fails we end up with perfectly unin

[2021-06-25 19:04] dkropachev commented on #82
Most likely this exception comes from this:

When connection is closed it find host it is relates to by EndPoint in manager metadata,

[code]

There are two of three exiting  Endpoit implementations that are overriding equals in a way that allows different instances of Endpoints to match:

[code]

So, most likely this issue happens when connection was initialized on one host instance, and closed o

[2021-06-27 14:32] haaawk commented on #82
What does it mean for c-s to go panic? @dkropachev

[2021-06-27 14:42] haaawk commented on #82
They actually don't match according to the implementations of equals they provide.

[2021-06-27 15:10] dkropachev commented on #82
It means that it immediately stops process execution due to the unhandled exception

[2021-06-27 15:12] haaawk commented on #82
You mean it retries a request 10 times and after no success c-s fails - is that correct?

[2021-06-27 15:14] dkropachev commented on #82
Not quite sure what it means.

[2021-06-27 15:16] haaawk commented on #82
I don't think that's the problem. Since getHost compares using equals and different implementations of EndPoint never `equal`.

[2021-06-27 15:17] dkropachev commented on #82
No, it stop execution right away, at least in the case that is reffed here

[2021-06-27 15:18] haaawk commented on #82
What's the exception that causes it to stop?

[2021-06-27 15:23] haaawk commented on #82
It means that it one host in metadata represented by TranslatedAddressEndPoint is removed and readded using SniEndPoint, getHost(Endpoint) called with TranslatedAddressEndPoint won't find it and if it was true the code wouldn't ever enter `at com.datastax.driver.core.Connection.closeAsync(Connection.java:953)` because there's an if checking for host to be null before it.

[2021-06-27 15:31] dkropachev commented on #82
Why it would be added with deferent class ?

[2021-06-27 15:33] dkropachev commented on #82
It is in the name of the issue

[2021-06-27 15:33] haaawk commented on #82
I don't know - it was your hypotesis that different implementations of the EndPoint interface can be a problem. I'm just saying that this is likely not the problem here.

[2021-06-27 15:35] haaawk commented on #82
Ok but in what scenarios does it happen? It will be hard to do anything here unless we can reliably reproduce the problem. Do you see this regularly or is it a one-off?

[2021-06-27 15:42] dkropachev commented on #82
My hypotesis

Clearly refers to instance, not a class

[2021-06-27 15:59] dkropachev commented on #82
As it was mentioned, unfortunatelly no exact scenario exists at this point, but proposed scenario is that something triggered host removing from cluster metadata and it's reinitiation, while connection was alive, after host was initiated and added to metadata, connection was closed on newly created host instance, which trigered this assertion.

[2021-06-27 16:57] haaawk commented on #82
I will ask again:
1. Have you experienced this only one time or few times?
2. What were you doing when you experienced the problem? You may not have a reliable reproducer but you must have been doing something when the problem occured. Even when the conditions don't guarantee the reproduction of the problem, they may give some clue.

[2021-06-27 17:48] dkropachev commented on #82
1. At this point I aware of only one such incident
2. The test was full of everything, resharding, node restarts, node replacing.

[2021-06-27 17:50] haaawk commented on #82
Thanks.

Was it SCT?

[2021-06-27 17:51] dkropachev commented on #82
Yes, it was sct

[2021-07-21 11:11] lauranovich opened #86 "DOCS: 404 errors"
Initially reported here https://github.com/scylladb/scylla-docs/issues/3656

From this page:
https://java-driver.docs.scylladb.com/stable/manual/statements/prepared/

Are the following Broken links:
PreparedStatement
https://java-driver.docs.scylladb.com/latest/api/com/datastax/driver/core/PreparedStatement.html
BoundStatement
https://java-driver.docs.scylladb.com/latest/api/com/datastax/driver/co

[2021-07-23 04:36] haaawk commented on #86
It seems that docs generation is wrong. The page is driver version dependant and the links are pointing to the "latest" branch while they should point to the branch that reflects the version picked from a dropbox in the upper left corner of the site. For example 3.10.2.x or 3.7.2.x.

When "latest" is replaced with a proper version in the link everything works:
https://java-driver.docs.scylladb.com

[2021-07-25 07:43] lauranovich commented on #86
we should have a latest branch, do we not?

[2021-07-26 08:00] haaawk commented on #86
We do but it's no longer a default branch. scylla-3.x is the default branch now.

[2021-07-26 09:24] lauranovich commented on #86
no what should be happening is the 3.x branch or whatever branch you specify is tagged as latest. Then, when you go to /latest you always get the most up to date official release. @dgarcia360 can assist in this matter

[2021-07-26 09:30] haaawk commented on #86
I don't think that's correct. When a user selects a version from a drop down in the upper right corner, we should be linking to that version of the docs.

[2021-07-26 14:02] lauranovich commented on #86
@haaawk they absolutely can do that - what the /latest helps us to do is not to maintain links. so If I click a link it will route me to latest. I understand that if I am in an old version this may be hard but I think there is a way to have the version inserted by the branch you're on - if this is what you want @dgarcia360 and I need to discuss how to implement

[2021-07-26 14:15] haaawk commented on #86
Sure. If "latest" is what you prefer then "scylla-3.x" is the new latest

[2021-07-26 15:33] lauranovich commented on #86
users will have the ability to choose the latest branch and the 3.whatever branch if the latest branch is 3.1 and a user chooses latest they will see the same content. - does this make sense?

[2021-07-26 16:51] haaawk commented on #86
And "scylla-3.x" is exactly such branch. It's just not called "latest".

[2021-07-31 05:58] dgarcia360 opened #88 "Links to Reference documentation should be relative to version"
## Context

Links pointing to the [Reference Documentation](https://java-driver.docs.scylladb.com/scylla-3.10.2.x/api/overview-summary.html) generated with JavaDoc are redirected to the "latest" branch while they should point to the branch that reflects the version picked from a dropbox in the upper left corner of the site. For example 3.10.2.x or 3.7.2.x.

When "latest" is replaced with a proper

[2021-08-05 17:36] fggarcia opened #89 "High writes after change connect port to 19042"
After change scylla driver (3.10.2-scylla-1) port configuration to 19042
![image](https://user-images.githubusercontent.com/1306596/128395383-6ccb0848-aff1-4b8d-9165-91fe66b094f0.png)

PD: also i upgrade to scylla 4.4.4. In picture, writes graphic show (first green, after blue), because i reboot that instances for update.

[2021-08-05 17:56] fggarcia commented on #89
after rollback to port 9042
![image](https://user-images.githubusercontent.com/1306596/128398264-73e3de75-2db1-4ff4-994c-8cd26196268b.png)

[2021-08-31 15:28] avelanarius commented on #76
It's fixed now (did some cleanup of the branches in the driver repo).

[2021-08-31 15:28] #76 closed, assigned to nobody

[2021-08-31 15:50] avelanarius commented on #86
Fix merged: 1658c658b51780f7b601ce05f0aaa1137bd9d5e6

[2021-08-31 15:50] #86 closed, assigned to lauranovich

[2021-08-31 19:06] tzach opened #90 "Non relevant docs inherited from Datastax upstream"
https://java-driver.docs.scylladb.com/stable/manual/cloud/index.html

[2021-08-31 20:58] avelanarius opened #91 "Docs: make them more Scylla-specific"
Many docs pages, such as:

https://java-driver.docs.scylladb.com/stable/manual/compression/index.html
https://java-driver.docs.scylladb.com/stable/manual/load_balancing/index.html

start by "Cassandra’s binary protocol ...", "A Cassandra cluster is ...", as they are unmodified from the upstream.

The doc pages should mention that this information is also relevant to Scylla and mention Scylla's bes

[2021-08-31 21:00] avelanarius commented on #90
I also created a more general issue #91, but fixing it would require more effort to update and rewrite the docs (as opposed to this issue, which can be resolved by removing irrelevant pages).

[2021-08-31 21:22] avelanarius commented on #77
Duplicate of #86, which is fixed now.

[2021-08-31 21:22] #77 closed, assigned to haaawk, lauranovich

[2021-08-31 22:57] avelanarius commented on #26
Implemented a long time ago in both `3.x` (5e8ce09f1de01b8d33ec76a3379081bac7127690) and `4.x` (7b6182aebcff249e9ac6dcacc29f43fb6070bae5) branches. I should have known to put "Fixes ..." in the commit messages...

[2021-08-31 22:57] #26 closed, assigned to haaawk

[2021-09-09 09:43] avelanarius opened #95 "Fix regressions in integration tests on branch 3.x when running against Cassandra 3.11"
Some integration tests were disabled in #94, as they did not pass against Cassandra 3.11. Most of them work correctly in the upstream repository.

Fix those tests and re-enable them. Some tags in comments to look for:

- `@IntegrationTestDisabledCassandra3Failure` - general regression compared to upstream repo, when running with Cassandra 3.11
- `@IntegrationTestDisabledDSECloud` - disabling DSE C

[2021-09-09 09:46] avelanarius opened #96 "Fix disabled integration tests on branch 3.x when running against Scylla"
Some integration tests were disabled in #94, as they did not pass against Scylla. Some of them were disabled due to testing Cassandra-specific functionality (unavailable in Scylla), but some of them look like real potential issues.

Fix those tests and re-enable them. Some tags in comments to look for:
- `@IntegrationTestDisabledScyllaFailure` - general regression when running with Scylla
- `@Inte

[2021-09-09 09:49] avelanarius opened #97 "Potential unclosed sessions in integration tests on branch 3.x"
When running integration tests (introduced in #94), there are lots of exceptions of this type:

[code]

Although they don't affect the tests correctly running, those types of exceptions don't appear in the upstream repo. It seems that for some reason sessions from previous tests are not correctly closed (the IP+port refers to a CCM cluster that is already stopped).

[2021-09-15 11:07] avelanarius opened #99 "Potential duplicate randomized ports in integration tests on branch 3.x"
As observed in a run (logs below), sometimes integration tests can randomize the same port for two different services:

[code]

which causes integration tests to fail, as they timeout. (In this case, CQL server failed to start on port `45119`)

[ccm-logs-scylla-4.3.6 (2).zip](https://github.com/scylladb/java-driver/files/7169513/ccm-logs-scylla-4.3.6.2.zip)
[logs_30.zip](https://github.com/scyllad

[2021-09-15 11:14] avelanarius commented on #99
TODO: As we are running on "older" releases of Scylla, CQL server failing to start did not print a nice error message (https://github.com/scylladb/scylla/issues/9306). Check if the fix to https://github.com/scylladb/scylla/issues/9306 fixed this variant of this problem.

[2021-10-29 06:48] ben2077 opened #104 "Run.sh cannot be found when the integration test is executed"
java.lang.RuntimeException: The command '[/home/ben77/Projects/iqiyi/scylla-java-driver/integration-tests/run.sh]' failed to execute

	at com.datastax.oss.driver.api.core.cloud.SniProxyServer.execute(SniProxyServer.java:144)
	at com.datastax.oss.driver.api.core.cloud.SniProxyServer.startProxy(SniProxyServer.java:63)
	at com.datastax.oss.driver.api.core.cloud.SniProxyRule.before(SniProxyRule.java:3

[2021-11-05 21:11] fee-mendes opened #105 "Doc error - TokenAwareHostPolicy does not exist"
We have received an inquiry in field due to [README.md](https://github.com/scylladb/java-driver/blob/scylla-3.x/README.md) mentioning the existence of a `TokenAwareHostPolicy` which is misleading and the driver has no references to that:

[code]

It should be written as `TokenAwarePolicy`.

[2021-11-22 08:57] congguosn opened #107 "Cannot discover with TokenAwarePolicy after enabling Compression"
I intended to do compression before sending out the item, but found that when I enabled compression option, the driver cannot discover the backend scylla instance ips anymore.

The code I worked on is ycsb acyll part.

File: ScyllaCQLCLient.java
Code line: 167
discovery workable: = builder.withLoadBalancingPolicy(tokenAware);
discovery unworkable: discovery workable: = builder.withCompression(Prot

[2021-11-22 09:42] #107 closed, assigned to nobody

[2021-11-22 09:42] congguosn commented on #107
import below artifact resolve the problem
<dependency>
    <groupId>org.lz4</groupId>
    <artifactId>lz4-java</artifactId>
    <version>1.4.1</version>
</dependency>

[2021-11-30 09:41] congguosn opened #108 "Endpoint of contactPoint should be replaced with broadcast address."
If a proxy is used as the contact point, it will be treated as the member of scylla backend replicas, but actually it is not.

For example, if a cloud load balancer is used as contact point, client will send part of the data traffic to it, but actually the traffic should go to the broadcast address get from system.local.

[2021-12-15 08:10] carl10086 opened #110 "PreparedStatement with currentTimestamp() function"
1. schema

[code]

2. insert sql

[code]

3. problems .

when i use PreparedStatement , the `currentTimestamp()` always the first time I prepared the sql .

when i use SimpleStatement, it's completely fine .

4. question ?
It's any option to change the default behavior of PreparedStatement when handing the function like currentTimestamp()

[2021-12-15 21:29] avelanarius commented on #110
This problem was fixed in Scylla (https://github.com/scylladb/scylla/commit/21d758020a878247fdd1f259f703ecec9483fb3e) - it should work correctly with Scylla 4.6 (4.6 rc0/rc1 are now released). For older versions of Scylla, a reasonable workaround would be to still use `PreparedStatement` but without `currentTimestamp()` and `currentDate()`:

[code]

instead filling those two values client-side in

[2021-12-15 21:29] #110 closed, assigned to nobody

[2022-01-04 07:54] RadoBuransky commented on #32
Agree with @pveentjer. Fix this guys.

[2022-01-04 11:25] avelanarius commented on #99
The ports are randomized here: https://github.com/scylladb/java-driver/blob/d4eca65e61476136624df4e564644971976269b4/driver-core/src/test/java/com/datastax/driver/core/CCMBridge.java#L1261-L1289

[2022-01-31 08:52] haaawk opened #112 "Log whether the driver is using port based shard awareness or not and why"

[2022-01-31 14:11] haaawk commented on #108
I'm trying to understand your use case. Why are you using cloud load balancer instead of nodes in the cluster, @congguosn ? How do you intend to read system.local on the first place if you don't point the driver to a real Scylla node?

[2022-01-31 14:12] haaawk commented on #104
Which branch is this @CodingBen ?

[2022-01-31 14:15] haaawk commented on #80
Shard-aware port has been implemented in Java driver for years. Closing.

[2022-01-31 14:15] #80 closed, assigned to nobody

[2022-01-31 14:21] haaawk commented on #89
Could you share more details @fggarcia the change of port affects only the way connections are established with the cluster nodes. It should not impact regular operations at all.

[2022-01-31 14:23] #58 closed, assigned to nobody

[2022-02-02 06:01] fggarcia commented on #89
Hi @haaawk i change two of our beta instances to use port 19042.

beta app  instance names: zoom-beta-00, zoom-beta-01

SCYLLA-VERSION: 4.5.3
Cluster name: zoom-cass-besc
instances: 0,1,2

Then rollback one of the instance to use port 9042:
instance zoom-beta-00 NETSTAT:
[code]
instance zoom-beta-01 NETSTAT:
[code]

xxx@zoom-beta-01:~$ netstat | grep zoom-cass-besc | grep ESTABLISHED
[code]

xxx@z

[2022-02-07 12:11] avelanarius commented on #99
Reopening the issue as there are still problems with it: https://github.com/scylladb/java-driver/runs/5092188433?check_suite_focus=true

`ScassandraCluster` class still uses "naked" `TestUtils.findAvailablePort()`.

[2022-02-07 15:09] avelanarius commented on #112
Fixed via 12a712ff5187b5a2f2ec0f32c186e4cae0954de0

[2022-02-07 15:09] #112 closed, assigned to nobody

[2022-02-07 15:26] avelanarius commented on #99
Another example (unrelated to `ScassandraCluster`?): https://github.com/scylladb/java-driver/runs/5094751960?check_suite_focus=true

[2022-02-16 17:04] avelanarius commented on #99
[Another one](https://www.youtube.com/shorts/5xntOpWCIfo) related to `ScassandraCluster`: https://github.com/scylladb/java-driver/runs/5219273242?check_suite_focus=true

[2022-02-28 14:18] #99 closed, assigned to Bouncheck

[2022-03-14 12:34] avelanarius opened #117 "Problem building with Oracle's Java 11"
When building code in PR #109 with a fresh Ubuntu Docker container with only Oracle's `jdk-11.0.14_linux-x64_bin.deb` installed, `make preview` in `docs` directory fails with:

[code]

[code]

[2022-03-14 12:37] avelanarius opened #118 "Test building the code with other JDK distributions"
Currently, in the CI Github Actions configuration, the project is only built with OpenJDK 8 (`distribution: 'adopt'`). However, as the problems in https://github.com/scylladb/java-driver/pull/109 have shown, there are some differences in other distributions (such as Oracle's JDK 11). We should modify GitHub Actions to also test building with those other distributions.

Note that there aren't any p

[2022-03-14 15:04] avelanarius commented on #118
Need to research whether the issue in #109 is only reproducible in Oracle's Java 11 or all Java 11 distributions. If we wanted to test with Oracle's Java 11: https://github.com/oracle-actions/setup-java. If this is true for all distributions (such as Eclipse Temurin, Adopt OpenJDK Hotspot, Coretto, etc.) maybe testing building with only OpenJDK is enough.

[2022-03-15 13:54] avelanarius opened #119 "Always test building docs in CI"
Currently, only if the docs are modified, a CI build job is executed. This is problematic, as the moment of me writing this, it seems that the `multiversion` docs stopped building correctly.

[2022-03-31 12:51] avelanarius commented on #48
Closing, as `ALTER SESSION` was ultimately not implemented in Scylla. The approach we took in Scylla was to use `USING TIMEOUT` and service-level timeouts, not anything that would alter a session. The only thing that could "alter" a session is `USE keyspace` which is already handled correctly by the driver.

[2022-03-31 12:51] #48 closed, assigned to haaawk

[2022-04-04 10:08] Bouncheck commented on #117
Here's what I found out so far:
(Whole process was messier, but I'm omitting delving into other paths for readability)
I've tried building with OpenJDK 11 and was greeted with analogous error
[code]
[code]
Version 55 corresponds to Java 11 and version 53 corresponds to Java 9. For some reason we try to use Java 11 APIs when Java 9 is expected. It's a little weird that Java 9 is expected though. Bo

[2022-04-04 15:21] avelanarius commented on #24
Support for this optimization is already implemented in Java Driver 3.x, via those commits (no PR was made, it was directly committed by @haaawk):

https://github.com/scylladb/java-driver/commit/47552b75bf51102f5c01f5c509a97fb887d8239a
https://github.com/scylladb/java-driver/commit/d2cfc3000bb3ed5760ea1e205e023508f34eadb2
https://github.com/scylladb/java-driver/commit/f724fdcb3128465cb7e383a3de12d

[2022-04-15 23:40] #89 closed, assigned to nobody

[2022-04-21 11:42] tarzanek opened #121 "Need releases of version spark-connector uses to make it shard aware"
Hi guys

can you please release shard aware
4.12.0  (spark connector 3.1)

4.10.0 (spark connector 3.0.1)

?

tia
Lubos

[2022-04-21 11:42] tarzanek commented on #121
(continuation of https://github.com/scylladb/java-driver/issues/58 )

[2022-04-22 12:26] avelanarius commented on #121
4.10.0.0 branch: https://github.com/scylladb/java-driver/tree/scylla-4.10.0.x (will release today), passes unit/integration tests (with Cassandra)
4.12.0.0 branch: in-progress

[2022-04-22 13:38] avelanarius commented on #121
4.12.0.0 branch: https://github.com/scylladb/java-driver/tree/scylla-4.12.0.x

Both 4.10.0.0 and 4.12.0.0 branches pass unit/integration tests (with Cassandra). I'll do some final manual testing and release it.

[2022-04-22 14:16] avelanarius commented on #121
4.12.0.0 is now released: https://repo1.maven.org/maven2/com/scylladb/java-driver-core/4.12.0.0/

[2022-04-22 14:42] avelanarius commented on #121
@tarzanek 4.10.0.0 is released too: https://repo1.maven.org/maven2/com/scylladb/java-driver-core/4.10.0.0/

[2022-04-22 14:42] #121 closed, assigned to nobody

[2022-04-26 13:19] avelanarius opened #124 "Endless loop of Query [...] is not prepared [...], preparing before retrying executing."
On this execution of integration tests: https://github.com/avelanarius/java-driver/runs/6175179427?check_suite_focus=true tests running against `5.0.rc3` and `2022.1.rc3` got stuck on an endless loop of:

[code]

This test might be flaky, as I believe that `5.0.rc3` passed correctly before.

[2022-04-26 17:20] avelanarius commented on #124
I am not able to reproduce the issue locally, but thankfully running it a couple times on GitHub Actions (all tests - not only the offending one) is able to reproduce the problem.

[2022-04-28 17:06] avelanarius opened #126 "Re-preparing of prepared statements should be throttled and limited"
As we observed in issue #124, if there is some problem server-side with preparing statements, the driver will infinitely retry preparing the statement, without any delays between retries.

This could happen in two cases: if there is a bug in Scylla/Cassandra (like scylladb/scylla#10440) or if the prepared statement cache is too small to hold all prepared statements of a batch statement.

In such c

[2022-04-28 17:07] avelanarius commented on #126
I have not checked whether other drivers have the same problem, but if they do, they too should be fixed.

[2022-04-29 12:00] avelanarius opened #127 "Add metrics tracking LWTs being sent to non-primary replica"
Java Driver could expose different Scylla-specific metrics. One of the more important ones is a count of LWT statements that were sent to a non-primary replica. Note that with #24 fixed we would want to have this number be zero (LWT prefer primary replica: 3.x - merged and 4.x: #125).

[2022-05-17 16:10] avelanarius opened #130 "Update CONTRIBUTING.md (and others) with info helping new driver developers"
As correctly suggested by @Lorak-mmk (https://github.com/scylladb/java-driver/pull/122#issuecomment-1109791656), `CONTRIBUTING.md` (and other similar files) should be updated with the info on how to run integration tests. More broadly, those files could contain more information about what our release process looks like (currently it's stored in a wiki on a private scylladb repository). Any mislead

[2022-05-17 16:11] avelanarius commented on #130
@Bouncheck as we previously talked, please do this part: "CONTRIBUTING.md (and other similar files) should be updated with the info on how to run integration tests".

[2022-05-18 20:44] racevedoo opened #131 "Add 4.14, 4.15 support"
Currently the most recent release in the 4.x branch is 4.13. Datastax recently released 4.14 with some improvements and security patches.

Are there any plans to merge this release into scylla driver? Thanks in advance!

[2022-05-18 20:50] racevedoo commented on #131
Datastax changelog for 4.14: https://github.com/datastax/java-driver/blob/4.x/changelog/README.md

[2022-05-25 14:13] Bouncheck commented on #130
I've left most of the stuff as is and changed what I know about so far. If anyone stumbles upon something not relevant please leave a comment

[2022-06-09 12:44] avelanarius commented on #118
5973f68270e3c5c6e4fdf78624e5562cc37780f5 fixes this (for 3.x)

[2022-06-09 12:44] #118 closed, assigned to nobody

[2022-06-10 11:58] psarna opened #136 "Add fallback from shard awareness in case of overloaded coordinator shards"
This issue is about implementing a mechanism for falling back to picking least busy connections, even if we know the owner shard, in case we detect that a particular coordinator shard is severely overloaded. The idea is already implemented and explained here: https://github.com/scylladb/gocql/pull/86

The whole discussion is worth reading, but specifically, in comment https://github.com/scylladb/g

[2022-06-17 11:19] #130 closed, assigned to Bouncheck

[2022-07-26 02:42] TD-duanzhichao opened #146 "Why does he always access the internal ip of the container？and how can i solve it"
I have a problem, when connecting to the cluster, the following error will be reported，

My scylladb images docker cluster is as follows
<img width="500" alt="WeChat97bd4261fefbb7863af5741a0c44f0ab" src="https://user-images.githubusercontent.com/107902748/180910956-24b0096b-e020-41c4-9421-a963ad1d7f65.png">

This is how I connect use driver：
![image](https://user-images.githubusercontent.com/10790

[2022-07-26 02:50] TD-duanzhichao commented on #146
and my scylladb driver version is 3.11.2.0
 <scylla.driver.version>3.11.2.0</scylla.driver.version>

![image](https://user-images.githubusercontent.com/107902748/180912466-ea0dcbe8-88aa-40c7-bc5f-964a31526309.png)

[2022-07-27 09:29] manaldush opened #149 "Export findbugs packages in OSGI"
osgi.wiring.package; (&(osgi.wiring.package=com.datastax.oss.driver.api.core)(version>=4.14.0)(!(version>=5.0.0))) [caused by: Unable to resolve 415.0: missing requirement [415.0] osgi.wiring.package; (&(osgi.wiring.package=javax.annotation)(version>=3.0.0)(!(version>=4.0.0)))]

Do we really need to have testing tool dependency as import package in META-INF?

[2022-07-27 21:56] ghevge opened #150 "Question: Is there any possibility to add a JDBC driver for scylladb?"
Hi,

I'm very new to scylladb, stumbled over it 2 days ago, while looking for a high performance DB, so I don't know all the ins and outs of this product.
I'm planning to write a new app, but which I don't want to tightly couple the with this DB way of writing code. Instead, if possible, I would like to use a java persistence framework like mybatis. But for mybatis to work it will require a decent

[2022-08-03 07:38] #146 closed, assigned to nobody

[2022-08-11 12:40] Bouncheck commented on #149
I've assumed it's about 4.x version of the driver based on the package names.
I've just made a quick change that results in javax.annotation gone from MANIFEST.MF in core subdirectory.
It still is present in shaded version though (I'll look into if that can be reduced too or not).
Does that resolve this issue?

[2022-08-12 16:26] Bouncheck commented on #150
Unfortunately there are no plans to and no work is being done on that.
JDBC does not really fit with Scylla in general. It's good for SQL databases but in case of NoSQL every solution tends to be different. Implementing JDBC API with CQL underneath will probably result in suboptimal performance somewhere.
However if you still want to go ahead with JDBC solution you can take a look for example at [

[2022-08-17 11:51] #150 closed, assigned to nobody

[2022-08-19 15:22] #149 closed, assigned to nobody

[2022-08-19 15:28] avelanarius opened #153 "Research driver scalability on high-core machines"
While doing different benchmarks of software using Java Driver, we noticed that in some cases there might be some problems with scaling to high-core machines (think of instances like c6i.metal with 128 vCPUs). More specifically, sometimes it was more performant to launch multiple driver processes (each having 1/Nth of cores) instead of a single big process. However in that case that could have bee

[2022-08-26 20:13] shawjef3 opened #155 "Add support for `USING TIMEOUT` and `BYPASS CACHE` in query builders."
`USING TIMEOUT` is for `SELECT`, `UPDATE`, and `INSERT` statements, and was added in 4.4. It takes a CqlDuration when used with a bind marker. https://docs.scylladb.com/stable/cql/dml.html#using-timeout

`BYPASS CACHE` is for `SELECT` statements. It was added in 3.1. https://docs.scylladb.com/stable/cql/dml.html#bypass-cache

[2022-08-26 20:52] shawjef3 commented on #155
Implemented by https://github.com/scylladb/java-driver/pull/156.

[2022-09-08 11:49] avelanarius opened #157 "Published Javadocs for Java Driver 4.x are incomplete"
https://java-driver.docs.scylladb.com/scylla-4.13.0.x/api/index-all.html

The generated Javadocs don't contain classes from non-core modules, like "query-builder" submodule. This leads to 404 errors, for example on https://java-driver.docs.scylladb.com/stable/manual/query_builder/insert/index.html `QueryBuilder` link leads to nonexistent https://java-driver.docs.scylladb.com/scylla-4.13.0.x/api/co

[2022-09-30 04:42] akshaypatidar1999 opened #161 "Unable to connect to scyall 4.6"
Getting following exception when connecting to scylla `4.6.8-0.20220919.0aa9a8c26`.
```An exception occurred while executing the Java class. Could not reach any contact point, make sure you've provided valid addresses (showing first 1 nodes, use getAllErrors() for more): Node(endPoint=10.20.6.135:9042, hostId=null, hashCode=395c0470): [com.datastax.oss.driver.api.core.connection.ConnectionInitExce

[2022-10-11 08:18] piodul opened #162 "Add support for ScyllaDB's per partition rate limiting's new error"
The upcoming ScyllaDB 5.1 introduces a feature called per-partition rate limiting. In case the (user defined) per-partition rate limit is exceeded, the database will start returning a new kind of error, or fall back to Configuration_error if the driver does not support it.

Because the new error should be propagated to users and handled differently than other errors, the driver should be prepared

[2022-10-18 05:48] akshaypatidar1999 commented on #161
Can someone please have a look at this

[2022-10-24 11:44] tzach opened #163 "Docs: rename Scylla to ScyllaDB"
I would like to report an issue in page https://java-driver.docs.scylladb.com/scylla-4.13.0.x/index

(and all pages)

### Problem
Rename Scylla to ScyllaDB on headers, where possible
(with out breaking code examples!)

[2022-10-24 11:44] tzach commented on #163
@annastuchlik FYI

[2022-10-31 14:59] fruch opened #164 "[serverless] connection should be only open with `server`"
Running recent cassandra-stress (that uses java-driver with sni_proxy support)
with a local setup kind of scylla-operator
[code]

[code]

fails when it's trying to do DNS resolving of the nodes, which it shouldn't be doing, on the `any.cql.*` address should be connected to:
[code]

@zimnx
 and all traffic should go to the server. Contrary to or initial design, and to comply with meaning of the fie

[2022-10-31 15:07] avelanarius commented on #164
A fix is probably very easy:

[code]

but I'll double check if it really works and is really correct.

[2022-11-01 14:53] vladzcloudius commented on #136
@DoronArazii Please, assign somebody to work on this.

[2022-11-01 16:21] tzach opened #165 "Add a Copyright to footer"
### Problem
The Scylla Java driver is a fork of Datastax driver
https://github.com/datastax/java-driver

Altgho the Scylla Driver project HP include the Datastax Copyright and Apache Licence[1], it would be better to include it in *all* pages froked from the original Datastax driver, even if it was updated.

###  Suggest a fix
Include the following in the footer of every page:

The ScyllaDB Java D

[2022-11-01 16:22] tzach commented on #165
@dgarcia360 how can we update the footer of this project (not the global theme)?

[2022-11-02 05:51] DoronArazii commented on #136
Thanks for raising this up @vladzcloudius

@mykaul please consult with @avelanarius regard this enhancement.

[2022-11-02 08:23] mykaul commented on #136
Sure. I'll let @avelanarius asses feasibility and priority.

[2022-11-04 14:56] avelanarius opened #166 "Statement/Schema builders should be extended with Scylla-specific options"
The existing SchemaBuilder/statement builders facilites allow for convenient creation of Scylla statements. Unfortunately, many of Scylla-specific extensions are missing from those builders.

For example, it's currently not possible to use `SchemaBuilder` to create a `CREATE TABLE` statement with `per_partition_rate_limit`. Trying it:

[code]

results in creating such a query:
[code]

And `per_par

[2022-11-08 14:03] fruch opened #167 "[serverless] should connect to Server specified in ConnectionConfig and use NodeDomain as SNI."
with this configuration:
[code]

we are failing like the following:
[code]

Instead it should connect to Server specified in ConnectionConfig and use NodeDomain as SNI.

See PRs in the other driver to align on how we want it to behave:
https://github.com/scylladb/python-driver/pull/177
https://github.com/scylladb/gocql/pull/106

[2022-11-08 14:04] fruch commented on #167
@avelanarius would you able to have someone looking into it ?

[2022-11-08 14:13] avelanarius commented on #167
@fruch Yes, I'll look into it (and #164 too).

[2022-11-08 20:15] fee-mendes opened #168 "DAO - BYPASS CACHE and USING TIMEOUT capabilities"
As of commits https://github.com/scylladb/java-driver/commit/d184387961cc439b2c9379d90868fe7b75ad2284 and https://github.com/scylladb/java-driver/commit/d2c151331a1d1fd29c12f678f16bb66974e8aa0d, it would be nice to cut off a driver release with such capabilities.

We have users asking for it and, nonetheless, these commits are great to make use of ScyllaDB specific CQL extensions, thus a different

[2022-11-09 15:16] avelanarius opened #169 "Driver sometimes connects to "any.cluster-id.scylla.com" endpoint in integration tests"
[code]

[2022-11-09 15:27] avelanarius commented on #169
The reason is that we leave `any.cluster-id.scylla.com` in contact points (and add a real contact point, without removing `any.cluster-id.scylla.com`).

[2022-11-10 11:16] fruch commented on #169
It was a real painful part in the python-driver.

[2022-11-10 14:21] fruch opened #170 "Integration test `SchemaAgreementTest.should_unset_flag_on_failed_agreement` is flaky"
Seem that on branch enterprise-2022.2 tests `SchemaAgreementTest.should_unset_flag_on_failed_agreement` keep
on failing with like:

[code]

https://jenkins.scylladb.com/job/enterprise-2022.2/job/driver-tests/job/java-driver-matrix-test/8/console
https://jenkins.scylladb.com/job/enterprise-2022.2/job/driver-tests/job/java-driver-matrix-test/7/console
https://jenkins.scylladb.com/job/enterprise-2022

[2022-11-22 13:47] tarzanek commented on #136
based on how many people use shard aware java driver (and to how many I told to not use it in case of shard overload) ... guys ... this is a P1 imho
@mykaul @avelanarius it's low hanging fruit that will save us from lots of issues, let's get it fixed

[2022-11-22 14:06] avelanarius commented on #136
What would be the test scenario? A single overloaded shard (for example due to compaction)? Or someone else would do the actual benchmarking after we implemented it?

[2022-11-22 14:28] tarzanek commented on #136
@avelanarius yes, the compaction test would be good
ideal test would be more clients fighting over one shard ... this way their requests would be routed away if they hit the limit of it

[2022-11-22 20:14] tarzanek commented on #136
ref https://github.com/scylladb/scylladb/issues/8996

[2022-11-23 00:03] vladzcloudius commented on #136
Simply overload a single shard with some CPU hogging work (some tight loop C application) and run a cassandra-stress read test with RF=3.

Without a patch a corresponding amount of requests will have a higher latency due to queuing on that shard - foreground reads would go as high as you would allow: if you set threads=N then on that shard it will go as high as N.

With the fix the driver is expec

[2022-11-23 13:40] avelanarius commented on #170
Had trouble reproducing this both locally and on GitHub Actions, however I saw two occurances of this: https://github.com/scylladb/java-driver/actions/runs/3531706886/jobs/5925177185 and https://github.com/scylladb/java-driver/actions/runs/3531706886/jobs/5925176794

Unfortunately right now I don't have any working theory on what causes this problem.

[2022-11-23 14:25] #164 closed, assigned to avelanarius

[2022-11-23 14:25] #167 closed, assigned to avelanarius

[2022-11-23 14:25] #169 closed, assigned to avelanarius

[2022-11-24 12:00] avelanarius opened #174 "On branch 3.x Sonatype repository is not automatically closed"
When releasing a new version of Java Driver 3.x, a Sonatype repository is not automatically closed (in contrast to 4.x which automatically closes it). This makes it more cumbersome to release new version of the driver - a maintainer has to close the repository manually through a web interface.

The cause of this problem is that `mvn deploy` executes `maven-deploy-plugin:deploy` instead of `nexus-s

[2022-11-24 12:00] avelanarius commented on #174
Closing as won't fix.

[2022-11-24 12:00] #174 closed, assigned to nobody

[2022-11-25 10:45] avelanarius commented on #170
Yesterday magically the test started to fail consistently for me on GitHub Actions (since this is a flaky problem, probably the timings on GitHub Actions changed for some reason).

The first thing I tried was only running the offending test class - `SchemaAgreementTest`, but running only this single test worked correctly.

Next, I turned on different debugging info (`TRACE` level in https://github

[2022-11-25 10:45] avelanarius commented on #170
By the way, the test failed on other Scylla versions and on Cassandra, so this is a purely driver issue (not only 2022.2).

[2022-11-25 13:48] avelanarius commented on #170
Found the bug.

In order to find the issue, I had to get all the logs of a `Cluster`/`Session` that was involved in the error message:
[code]

I added a print that before each `execute()` would print the name of cluster the query was executed against. Thanks to this, I could find all the logs of this exact `Cluster`/`Session` (involved in failed test). Looking at those logs, I saw that the `Sessio

[2022-11-27 17:53] avelanarius commented on #136
An update on the issue: @Gor027 will start with reproducing the issue (in a clean way!) - a very similar scenario @vladzcloudius described - starting a X shard node, overloading one shard and testing sending queries that touch data in the overloaded shard. Next, test how well it performs if we always send the queries to the correct (overloaded) shard, always send data to the wrong (non-overloaded)

[2022-11-28 09:02] tarzanek commented on #155
this can likely be fixed after someone verifies the PR works @avelanarius
or we can close by default? (in this case it is kinda straightforward)

[2022-11-28 16:22] shawjef3 commented on #155
@tarzanek yes we can close this. Just it needs to be released

[2022-11-28 16:22] #155 closed, assigned to nobody

[2022-11-30 10:12] fruch opened #180 "cassandra-stress failing with `NullPointerException` on call to `Connection.shardId()`"
Recently we started working with latest cassandra-stress from scylla master,

and we keep run into a few cases the stress was broken in the middle like the following:

Stress is failing with unclear reason (return code 1)
[code]

Seems like hours before there was a failures like that: (full logs can be found in the load-set file below)
[code]

according to the timestamps, it was while this nemesis